.banners__list .swiper, .swiper-wrapper {
    width: 540px;
    margin-right: 30px;
}
.image__slider .swiper, .swiper-wrapper {
    width: 100%;
}
.swiper-button-next {
    background: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
}
.swiper-button-prev {
    background: #fff;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 15px;
}
.swiper-slide-visible {
    height: 126px!important;
    margin-bottom: 0px;
    opacity: 50%;
}
.swiper-slide-thumb-active {
    opacity: 100%;
}
.swiper-slide {
    text-align: center;
}
.swiper__related {
    max-width: 100%!important;
}
.swiper-slide-active {
    position: relative;
}
.mySwiper2 .swiper-slide-active {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiper2 .swiper-slide-prev {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiper2 .swiper-slide-next {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__img-list .swiper-wrapper {
    width: 100%
}
@media (max-width: 1024px){
    .swiper-slide {
        margin-bottom: 20px;
    }
    .banners__list .swiper, .swiper-wrapper {
        margin-right: 0;
    }
}
@media (max-width: 560px){
    .banners__list .swiper, .swiper-wrapper {
        width: 360px;
        margin: 0 auto;
    }
}
@media (max-width: 360px) {
    .banners__list .swiper, .swiper-wrapper {
        width: 300px;
        margin: 0 auto;
    }
}