html {
    box-sizing: border-box;
    background-color: #E5E5E5;
    }
    
    *,
    *::before,
    *::after {
    box-sizing: inherit;
    }
    
    a {
    color: inherit;
    text-decoration: none;
    }
    
    img {
    max-width: 100%;
    }
    
    body {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #121212;
    background: #fff;
    }
    
    /* glob */
    .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    }
    .flex {
    display: flex;
    }
    .container {
    max-width: 1110px;
    margin: 0 auto;
    }
    p {
    margin: 0;
    }
    h1, h2, h3 {
    margin: 0;
    }
    
    /*Header*/
    .black-background {
    background: #121212;
    }
    .black-line {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 5px;
    background: #121212;
    color: #fff;
    opacity: 0.8;
    }
    .black-line__left {
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    }
    .black-line__text {
    padding-left: 10px;
    }
    .black-line__item:not(:last-child) {
    margin-right: 40px;
    }
    .black-line__icon-item:not(:last-child) {
    margin-right: 12px;
    }
    
    /*Menu*/
    .menu__wrap {
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    }
    .logo {
    padding-right: 79px;
    }
    .header-nav-logo {
    margin-right: 40px;
    display: flex;
    align-items: center;
    width: 153px;
    height: 19px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    }
    .menu__item:not(:last-child) {
    margin-right: 32px;
    }
    .menu__icon-item:not(:last-child) {
    margin-right: 30px;
    }
    .menu__list {
    font-size: 14px;
    font-weight: 400;
    }
    .menu__icon {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    }
    .grey-line {
    height: 2px;
    background: #F8F8F8;
    }
    .grey-line_margin-big {
    margin-bottom: 96px;
    }

/*menu-burger*/
.burger-menu-btn {
    display: none;
    background-color: #2d2d2d;
    height: 3px;
    position: absolute;
    /* top: calc(50% - 0.8px); */
    width: 30px;
    transition: width .3s,transform .5s,-webkit-transform .5s;
}
.visible {
    background-color: transparent;
    z-index: 11;
}
.burger-menu-btn:before {
    content: "";
    background-color: #2d2d2d;
    height: 3px;
    left: 0;
    position: absolute;
    /* top: calc(50% - 0.8px); */
    width: 30px;
    transform: translateY(-10px);
    transition: width .3s,transform .5s,-webkit-transform .5s;
}
.visible:before {
    transform: rotate(-45deg);
    transform-origin: center;
    transition: width .3s,transform .5s,-webkit-transform .5s;
}
.burger-menu-btn:after {
    content: "";
    background-color: #2d2d2d;
    height: 3px;
    left: 0;
    position: absolute;
    /* top: calc(50% - 0.8px); */
    width: 30px;
    transform: translateY(10px);
    transition: width .3s,transform .5s,-webkit-transform .5s;
}
.visible:after {
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}
.visible body {
    overflow-y: hidden;
}
.burger-menu-btn_b {
    display: none;
    flex-direction: column;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
}

.line1 {
    background-color: #2d2d2d;
    height: 3px;
    width: 30px;
    transition: width .3s,transform .5s;
}
.burger-menu-btn_b.visible .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px,8px);
    transform: rotate(-45deg) translate(-5px,8px);
}
.line2 {
    background-color: #2d2d2d;
    height: 3px;
    /* top: calc(50% - 0.8px); */
    width: 30px;
    transition: width .3s,transform .5s;
}
.burger-menu-btn_b.visible .line2 {
    display: none;
}
.line3 {
    background-color: #2d2d2d;
    height: 3px;
    /* top: calc(50% - 0.8px); */
    width: 30px;
    transition: width .3s,transform .5s;
}
.burger-menu-btn_b.visible .line3 {
    -webkit-transform: rotate(-45deg) translate(-2px,-6px);
    transform: rotate(45deg) translate(-2px,-6px);
}
/*burger-menu*/

#root {
    position: relative;
}
.burger-menu__wrapp {
    display: none;
    position: fixed;
    background-color: #e0e0e0;
    opacity: .5;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}
.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}
.visible_menu {
    display: block;
}
.burger-menu__block {
    padding-top: 200px;
    margin: auto 0 auto auto;
    max-width: 300px;
}
.burger-menu__list {
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
    padding: 30px;
    padding-right: 20px;
}
.burger-menu__item {
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline;
}
.burger-menu__item:not(:last-child) {
    padding-bottom: 20px;
}

/*ButtonBasket*/
.menu__icon-item_relative {
    position: relative;
}
.basket-btn__kol {
    align-items: center;
    background: #121212;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family: Spartan;
    font-size: 13px;
    height: 20px;
    justify-content: center;
    left: 7px;
    position: absolute;
    top: -8px;
    width: 20px;
    z-index: 3;
    padding-left: 3px;
}
.basket__wrapp {
    display: none;
    position: fixed;
    background-color: #e0e0e0;
    opacity: .5;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
}
.visible_basket_wrapp {
    display: block;
}
.basket__container {
    display: none;
}
.visible_basket__container {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 360px;
    z-index: 10;
}
.basket__top__one {
    align-items: center;
    background: #121212;
    color: #fff;
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
}
.basket__top__two {
    align-items: center;
    color: #fff;
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
}
.basket__top_btn {
    color: #e6e6e6;
}
.basket__top_btn_activ {
    color: #121212;
}
.basket__bottom {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.basket__bottom__info {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 10px;
}
.basket__bottom__total {
    font-weight: 400;
}
.basket__bottom__price {
    font-size: 16px;
    font-weight: 700;
}
.basket__bottom__btns {
    display: block;
    height: 48px;
    margin-top: 10px;
}
.basket__bottom__btn {
    height: 100%;
    width: 100%;
    font-weight: 700;
}
.basket__bottom__btn_black {
    background: #121212;
    border: none;
    color: #f8f8f8;   
}
.basket__bottom__btn_white {
    background: #f8f8f8;
}
.basket__products {
    flex-grow: 1;
    padding: 20px;
    height: 100%;
    overflow: auto;
}
.prod-basket {
    border-bottom: 3px solid #e6e6e6;
    display: flex;
    height: 125px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.prod-basket__img {
    height: 104px;
    overflow: hidden;
    width: 83px;
}
.prod-basket__img-prod {
    height: auto;
    width: 100%;
}
.prod-basket__desc {
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: space-between;
    width: 70%;
}
.prod-basket__info__name {
    display: block;
    margin-bottom: 10px;
    opacity: 60%;
}
.prod-basket__info__size {
    font-size: 12px;
    font-weight: 700;
}
.prod-basket__price-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.prod-basket__counter {
    align-items: center;
    background: #f8f8f8;
    display: flex;
    height: 32px;
    justify-content: space-evenly;
    width: 81px;
}
.prod-basket__counter button {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 35px;
}
.prod-basket__del {
    cursor: pointer;
}
.empty__basket {
    display: block;
    font-size: 25px;
    margin: 20px auto;
    text-align: center;
    width: 50%;
}










/*menu close*/
    @media (max-width: 1110px){
        .banners__list {
            justify-content: center;
        }
    }
    @media (max-width: 1109px){
        .product__list {
            justify-content: center;
        }
        .product__item:not(:nth-child(4n)) {
            margin-right: 0;
        }
        .product__item {
            border: solid white 20px;
        }
        .news__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .news__item_card2 {
            margin-bottom: 15px;
        }
        .news__item_height {
            width: 100%;
            max-width: 550px;
        }
    }

    @media (max-width: 1024px){
        .menu {
            display: none;
        }
        .burger-menu-btn {
            display: block;
            right: 20px;
        }
        .burger-menu-btn_b {
            display: flex;
        }
        .menu__icon {
            padding-right: 60px;
        }
        .header-nav-logo {
            margin-right: 0;
        }
        .container {
            padding: 20px;
        }
        .logo {
            padding-right: 0px;
        }
        .menu {
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .banners__list {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }
        .banners {
            justify-content: center;
        }
        .advantage {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            max-width: 350px;
        }
        .advantage__item {
            max-width: 350px;
        }
        .advantage__item_card2, .advantage__item_card1, .advantage__item_card3 {
            background-position: left top 6px;
        }
        .advantage__item:not(:last-child) {
            padding-bottom: 20px;
        }
        .product__nav {
            flex-direction: column;
            justify-content: center;
        }
        .product__h2 {
            margin: 0 auto;
            padding-bottom: 20px;
        }
        .product__nav-list {
            margin: 0 auto;
        }
        .product__list {
            justify-content: center;
        }
        .product__item:not(:nth-child(4n)) {
            margin-right: 0;
        }
        .product__item {
            border: solid white 20px;
        }
        .news__list {
            justify-content: center;
        }
        .latest__list {
            justify-content: center;
        }
        .latest__item {
            border: solid white 20px;
        }
        .black-line {
            justify-content: center;
            flex-direction: column;
        }
        .black-line__left {
            justify-content: center;
            flex-direction: column;
        }
        .form-footer {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .form-footer__input {
            max-width: 400px;
            width: 100%!important;
            margin-right: 0!important;
            margin-bottom: 10px;
        }
        .black-line__text_footer {
            padding-right: 0!important;
            margin-bottom: 10px;
        }
        .black-line__item:not(:last-child) {
            margin-right: 0;
        }
        .form-footer__button {
            margin-bottom: 10px;
        }
        .footer1 {
            justify-content: center!important;
            flex-direction: column;
            width: 300px;
        }
        .footer__item_icon1, .footer__item_icon2, .footer__item_icon3, .footer__item_icon4 {
            padding-left: 0!important;
            background-image: none;
        }
        .footer__title {
            text-align: center;
        }
        .footer__list {
            text-align: center;
        }
        .footer__nav {
            margin-bottom: 20px
        }
        .copyright {
            flex-direction: column;
            justify-content: center;
        }
        .copyright__copy {
            margin-bottom: 20px
        }
        .copyright__payments {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px
        }
        .payments__img {
            display: flex;
        }
        .payments__img:not(:last-child) {
            margin-bottom: 10px!important;
        }
        .subscrib-bg, .subscrib-bg-man {
            display: none;
        }
        .black-line__icons {
            justify-content: center;
            margin-top: 10px;
        }
        .bread__list {
            justify-content: center;
        }
        .prod {
            flex-direction: column;
            align-items: center;
        }
        .prod__image {
            width: 550px;
            margin-bottom: 20px;
        }
        .prod__info {
            width: 100%;
            padding-left: 0;
        }
        .actions {
            justify-content: center;
        }
        .color, .size {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
    @media (max-width: 597px) {
        .visible_basket__container {
            width: 100%;
        }
        .news__item_card1 {
            margin-bottom: 20px;
        }
        .menu__icon-item:not(:last-child) {
            margin-right: 10px;
        }
        .banners__href {
            width: 230px;
        }
        .banners__wrap-row {
            flex-direction: column;
            align-items: center;
        }
        .banners__item_card2, .banners__item_card3, .banners__item_card4 {
            width: 360px;
        }
        .banners__item_card2, .banners__item_card3 {
            margin-bottom: 20px;
        }
        .subscrib__form {
            padding: 30px 20px 30px 20px;
        }
        .banners__item_height:not(:last-child) {
            margin-right: 0;
        }
        .banners__item_height {
            width: 100%;
            align-items: center;
        }
        .menu__list {
            flex-direction: column;
            text-align: center;
        }
        .menu__item:not(:last-child) {
            margin-right: 0;
        }
        .menu__item {
            margin-bottom: 10px;
        }
        .product__nav-list {
            flex-direction: column;
            text-align: center;
        }
        .product__nav-item:not(:last-child) {
            margin-right: 0;
        }
        .product__nav-item {
            margin-bottom: 10px;
        }
        .form {
            width: 100%;
        }
        .prod {
            flex-direction: column;
            justify-content: center;
        }
        .prod__image {
            width: 100%;
        }
        .actions__like {
            padding-right: 0;
        }
        .actions__add {
            padding-right: 0;
        }
        .advantage-prod {
            flex-direction: column;
        }
        .actions {
            flex-direction: column;    
        }
        .size__image-list {
            flex-direction: column; 
        }
        .color__image-list  {
            flex-direction: column;
        }
        .prod__info {
            width: 100%;
            padding-left: 0;
        }
        .color__item {
            text-align: center;
        }
        .size__title {
            text-align: center;
        }
        .size__image-list {
            text-align: center;
        }
        .color__title {
            text-align: center;
        }
        .size__guide {
            text-align: center;
        }
        .color__item:not(:last-child) {
            padding-right: 0;
        }
        .size__item:not(:last-child) {
            padding-right: 0;
        }
        .size__item {
            margin-bottom: 10px;
        }
        .actions__price {
            padding-right: 0;
        }
        .advantage-prod__item {
            margin-bottom: 10px;
        }
    }
    @media (max-width: 360px) {
        .banners__item_card2, .banners__item_card3, .banners__item_card4 {
            width: 300px;
        }
        .banners__href {
            width: 155px;
            font-size: 14px;
        }
        .latest__navigate {
            flex-direction: column;
        }
        .latest__title {
            margin-bottom: 10px;
        }
        .menu__wrap {
            flex-direction: column;
            align-items: center;
        }
        .menu__icon {
            padding-right: 0;
        }
        .burger-menu-btn {
            top: 33px;
        }
        .menu__logo {
            margin-bottom: 10px;
        }
    }
    @media (max-width: 300px){
        .subscrib__form {
            padding: 15px 0 15px 0;
        }
        .banners__href_ad {
            width: 100%;
        }
        .latest__info {
            margin-left: 0;
            max-width: 100%;
            bottom: -113px;
        }
        .form__input {
            padding: 6px;
        }
        .form__button {
            padding: 6px;
        }
        .footer1 {
            width: 100%;
        }
    }
    