/*product*/
.product {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .product__h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
  }
  .product__nav {
    justify-content: space-between;
    width: 100%;
    padding-bottom: 48px;
  }
  .product__nav-item:not(:last-child) {
    margin-right: 32px;
  }
  .product__nav-item {
    font-size: 12px;
    line-height: 13px;
    opacity: 0.6;
  }
  .product__nav-item_active {
    font-weight: 500;
    opacity: 1;
  }
  .product__list {
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
  .product__item {
    max-width: 255px;
    margin-bottom: 23px;
  }
  .product__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .swiper-slide .product__item:not(:nth-child(4n)) {
    margin-right: 0;
    margin: 0 auto;
  }
  .product__img-block {
    position: relative;
    padding-bottom: 16px;
  }
  .product__discount {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 9px 8px;
    background: #E91E63;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  }
  .product__discount:empty {
    display: none;
  }
  .product__about {
    flex-direction: column;
  }
  .product__info {
    justify-content: space-between;
  }
  .product__name {
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
  }
  .product__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-right: 4px;
  }
  .product__old-price {
    font-size: 12px;
    line-height: 13px;
    text-decoration-line: line-through;
    opacity: 0.4;
    align-self: center;
  }
  .see-all {
    height: 48px;
    background: #F8F8F8;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 96px;
  }
  /*bread*/
.background-grey_f8 {
  background: #F8F8F8;
}
.bread {
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  margin-bottom: 32px!important;
}
.bread__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6px;
}
.bread__item {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
  text-transform: capitalize;
}
.bread__item_active {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
}
.bread__item:not(:last-child):after {
  content: "►";
  color: #121212;
  font-size: 11px;
  font-weight: 500;
  padding-right: 4px;
}
.bread__btn {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
  border: none;
  padding-left: 35px;
  padding-top: 5px;
  background: none;
  background-image: url("../images/share.svg");
  background-position: bottom 3px left 14px;
  background-repeat: no-repeat;
}
.bread__title {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 20px;
}
.bread__h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Filter*/
.filter__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}
.filter__card-form {
  display: flex;
}
.filter {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-bottom: 37px;
}
.filter__choice {
  display: flex;
  align-items: center;
}
.filter__form-list {
  align-items: center;
}
.filter__ico1 {
  margin-right: 20px;
  fill: #121212;
  stroke: #121212;
  opacity: 0.6;
}
.filter__ico2 {
  margin-right: 32px;
  fill: #121212;
  stroke: #121212;
  opacity: 0.6;
}
.filter__ico3 {
  fill: #121212;
  stroke: #121212;
  opacity: 0.6;
}
.filter__ico2:hover,
.filter__ico3:hover {
  opacity: 1;
}
.filter__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  opacity: 0.6;
}
.filter__choice:hover .filter__ico1 {
  opacity: 1;
}
.filter__choice:hover .filter__text {
  opacity: 1;
}
.product__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 80px;
}
.product__load {
  background-color: #121212;
  height: 25px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
}
/*Filtered*/
.filtered {


  display: flex;


  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  background: #F8F8F8;
}
.filter__chose {
  display: flex;
  flex-wrap: wrap;
  background: #F8F8F8;
  width: 100%;
  min-height: 20px;
  padding: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 34px;
  margin-bottom: 32px;
}
.filtered__visible {
  display: flex;

  position: relative;
  top: 0px;
  left: 0px;
}
.filtered__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.06em;
  margin-bottom: 20px;
  display: block;
}
.filtered__label {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 15px;
  color: #a9a9a9;
}
.filtered__list {
  flex-direction: column;
  max-height: 270px;
  min-width: 230px;
  overflow-x: visible;
  overflow-y: auto;
  padding-left: 1px;
  width: 100%;
}
.filter__ico22 {
  display: none;
  margin-right: 20px;
  fill: #121212;
  stroke: #121212;
  opacity: 0.6;
}
.filter__ico2_active {
  display: block;
}
.filter__ico1_active {
  display: none;
}
.filter__chise_color:empty {
	display: none;
}
.filter__chose_block {
  margin: 0 5px;
  opacity: 60%;
}
.filter__chose_count {
  font-weight: 700;
}
.filtered__input {
  position: absolute;
  top: -2px;
  left: -3px;
}
/*bread-bot (товар)*/
.bread__bot {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.bread__rating-text {
  padding-left: 10px;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  opacity: 0.6;
}
.list-info__name {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
}
.list-info__value {
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
}
.list-info__item:not(:last-child) {
  padding-right: 25px;
}

/*Prod*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
.product__link {
  font-weight: 500;
  opacity: 60%;
}
.product__link_active {
  font-weight: 600;
  opacity: 1;
}
.prod__image {
  width: 50%;
  flex-direction: row;
}
.prod__info {
  width: 50%;
  flex-direction: column;
  padding-left: 32px;
}
.image__slider {
  padding-right: 16px;
}
.image__navigate {
  display: flex;
  justify-content: space-between;
}
.image__navigate {
  padding-bottom: 16px;
}
.image__btn-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.6;
  transform: rotate(90deg);
}
.image__btn-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.6;
  transform: rotate(-90deg);
}
.image__img {
  position: relative;
  max-height: 555px;
}
.image__btn-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 16px;
  top: calc(50% - 20px);
  background: #FFFFFF;
  opacity: 0.6;
  border-radius: 25px;
}
.image__btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 16px;
  top: calc(50% - 20px);
  background: #FFFFFF;
  opacity: 0.6;
  border-radius: 25px;
}
.image__img-item:not(:last-child) {
  padding-bottom: 11px;
}
.strip {
  display: flex;
  width: 100%;
  height: 2px;
  background: #E6E6E6;
  margin-bottom: 32px;
}
.color__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  opacity: 0.6;
  padding-right: 5px;
}
.color__span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: none;
  opacity: 1;
}
.color__title,
.size__title {
  padding-bottom: 16px;
}
.color__item:not(:last-child) {
  padding-right: 16px;
}
.color {
  padding-bottom: 32px;
}
.color__item {
  max-height: 64px;
  max-width: 64px;
}
.color__image {
  height: 67px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.color__image_active {
  outline: 2px solid #121212;
}
.size__btn {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
  background: #F8F8F8;
  opacity: 0.7;
  text-transform: uppercase;
}
.size__item:not(:last-child) {
  padding-right: 16px;
}
.size__btn_active {
  outline: 2px solid #121212;
}
.size__image-list {
  padding-bottom: 17px!important;
}
.size__guide-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.6;
  padding-left: 30px;
  background-image: url("../images/size.svg");
  background-position: bottom 3px left 0px;
  background-repeat: no-repeat;
}
.size {
  padding-bottom: 32px;
}
.actions {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.actions__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  padding-right: 24px;
}
.add-to-card {
  padding: 17px 24px;
  background: #121212;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.actions__add {
  padding-right: 16px;
}
.action__btn {
  width: 48px;
  height: 48px;

}
.actions__like {
  padding-right: 16px;
}
.advantage-prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
}
.advantage-prod__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.6;
}
.advantage-prod__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.advantage-prod__svg {
  margin-right: 9px;
}
.guaranteed__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.guaranteed__strip {
  display: flex;
  width: 58%;
  height: 2px;
  background: #E6E6E6;
}
.guaranteed__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
}
.guaranteed__list {
  justify-content: space-between;
  align-items: center;
}
.guaranteed {
  padding-bottom: 32px;
}
.description {
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  opacity: 0.6;
}
.info-prod {
  padding-bottom: 32px;
}
.info-prod__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.info-prod__list {
  flex-direction: column;
}
.info-prod__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.info-prod__item:not(:last-child) {
  padding-bottom: 12px;
}
.info-prod__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.6;
}
.reviews__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  padding-bottom: 32px;
}
.reviews__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews__rating {
  display: flex;
  align-items: center;
}
.reviews__count {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
  padding-top: 3px;
}
.reviews__write {
  cursor: pointer;
}
.reviews__btn {
  display: flex;
  align-items: center;
  opacity: 0.6;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.reviews__svg-btn {
  margin-right: 9px;
}
.product__rating_padding-r {
  margin-right: 7px;
}
.reviews__top {
  padding-bottom: 25px;
}
.reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.reviews__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.8;
}
.reviews__fio {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.reviews__item {
  padding-bottom: 45px;
}

/*Review Form*/
.review__wrapp {
  display: none;
  position: fixed;
  background-color: #e0e0e0;
  opacity: .5;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.visible_review_wrapp {
  display: block;
}
.reviewform__form {
  background: #fff;
  border: 2px solid #000;
  padding: 20px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.reviewform__close {
  background-color: inherit;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.reviewform__wrap {
  height: 100%;
}
.reviewform {
  display: none;
  flex-direction: column;
  
  background-color: white;
  top: calc(50% - 250px);
  right: calc(50% - 180px);
  width: 360px;
  z-index: 10;
}
.visible_review {
  display: flex;
}
.reviewform__title__h2 {
  text-align: center;
  margin-bottom: 30px;
}
.reviewform__raiting {
  text-align: center;
  margin-bottom: 20px;
}
.reviewform__raiting img {
  width: 20px;
}
.reviewform__raiting img:not(:last-child) {
  margin-right: 15px;
}
.reviewform__input {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.reviewform__rev {
  margin-top: 20px;
}
.reviewform__input::placeholder {
  opacity: .6;
}
.reviewform__rextarea::placeholder {
  opacity: .6;
}
.reviewform__rextarea {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.reviewform__btn {
  position: relative;
  align-items: center;
  background: #121212;
  border: none;
  color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 60px;
}
.reviewform__btn:disabled {
  color: #6e6464;
  opacity: .7;
}
.loaderSpiner {
  position: absolute;
  left: 23px;
  top: 9px;
  height: 18px;
  width: 18px;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.loaderSpiner_footer {
  left: 12px;
  top: 7px;
}








/*related*/
.related {
  flex-direction: column;
  padding-bottom: 95px;
}
.related__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.related__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}
.related__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.6;
  margin-right: 15px;
}
.related__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  opacity: 0.6;
}
.related__slide {
  display: flex;
}